<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413279949394-v8n19m46bvn3qscllgsk9ms5i7vm7cv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413279949394-v8n19m46bvn3qscllgsk9ms5i7vm7cv4</string>
	<key>API_KEY</key>
	<string>AIzaSyBqSdtIIYlwC7ji_yN284-g_wSVteDBTEg</string>
	<key>GCM_SENDER_ID</key>
	<string>413279949394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truvideo.enterprise.rc</string>
	<key>PROJECT_ID</key>
	<string>truvideo---rc</string>
	<key>STORAGE_BUCKET</key>
	<string>truvideo---rc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413279949394:ios:6e240133c79b1c967b458b</string>
</dict>
</plist>